:root {
  --basic-color: #fff;
  --secondary-color: #2f303a;
  --basic-text-color: #757575;
  --secondary-text-color: #212121;
  --header-text-color: #fff;
  --link-hover-color: #2196f3;
  --button-bgc: #f5f4fa;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  background-color: var(--basic-color);
  color: var(--basic-text-color);
}
