.footer {
  background-color: var(--secondary-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  margin-bottom: 20px;
}

.bottom-logo {
  // .bottom-logo_link

  &__link {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: var(--link-hover-color);
    & > .bottom-logo__color-style {
      color: var(--basic-color);
    }
  }
}

.adress-list {
  font-style: normal;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  // .adress-list_contacts-item

  &__contacts-item:not(:last-child) {
    margin-bottom: 9px;
  }

  // .adress-list_place-link

  &__place-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--basic-color);
  }

  // .adress-list_link

  &__link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
  }
}
.footer-link {
}
