.footer {
  background-color: var(--secondary-color);
  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.footer-container {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    margin-top: 0;
  }
  // display: flex;
  // align-items: baseline;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    margin-left: 76px;
    margin-bottom: 0px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 0;
  }
}

.footer-logo {
  margin-bottom: 20px;
}

.bottom-logo {
  display: flex;
  @media screen and (min-width: 1200px) {
    margin-right: auto;
  }
  // .bottom-logo_link

  &__link {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: var(--link-hover-color);
    & > .bottom-logo__color-style {
      color: var(--basic-color);
    }
  }
}

.adress-list {
  font-style: normal;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 1200px) {
    align-items: flex-start;
  }

  // .adress-list_contacts-item

  &__contacts-item:not(:last-child) {
    margin-bottom: 9px;
  }

  // .adress-list_place-link

  &__place-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--basic-color);
  }

  // .adress-list_link

  &__link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
  }
}
