// .order-service_button {
//   font-weight: bold;
//   font-size: 16px;
//   line-height: 30px;
//   display: flex;
//   align-items: center;
//   text-align: center;
//   letter-spacing: 0.06em;
//   background-color: var(--link-hover-color);
//   color: var(--basic-color);
//   border-radius: 4px;
//   margin-top: 30px;
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//   border: none;
//   padding: 10px 32px;
//   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
//     color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   &:focus,
//   &:hover {
//     background-color: var(--button-bgc);
//     color: var(--secondary-text-color);
//     cursor: pointer;
//   }
// }

.order-service {
  // .order-service_button

  &_button {
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--link-hover-color);
    color: var(--basic-color);
    border-radius: 4px;
    margin-top: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    padding: 10px 32px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover {
      background-color: var(--button-bgc);
      color: var(--secondary-text-color);
      cursor: pointer;
    }
  }
}
